{% macro user_navigation() %}
{% if current_user.is_authenticated %}
<div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="userMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-user-ninja me-1"></i> {{ _('Mon Compte') }}
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu">
        <li>
            <a class="dropdown-item" href="/user/profile">
                <i class="fas fa-id-card me-2"></i> {{ _('Mon Profil') }}
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="/user/settings">
                <i class="fas fa-cog me-2"></i> {{ _('Paramètres') }}
            </a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
            <a class="dropdown-item" href="/user-info">
                <i class="fas fa-info-circle me-2"></i> {{ _('Infos Compte') }}
            </a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
            <a class="dropdown-item" href="/logout">
                <i class="fas fa-sign-out-alt me-2"></i> {{ _('Déconnexion') }}
            </a>
        </li>
    </ul>
</div>
{% else %}
<li class="nav-item">
    <a class="nav-link" href="/login">
        <i class="fas fa-sign-in-alt me-1"></i> {{ _('Connexion') }}
    </a>
</li>
{% endif %}
{% endmacro %}