{% macro user_navigation() %}
{% if current_user.is_authenticated %}
<div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="userMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{{ url_for('static', filename='images/ninja-handshake.png') }}" alt="" style="width: 16px; height: 16px; margin-right: 8px;"> {{ _('Mon Compte') }}
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu">
        <li>
            <a class="dropdown-item" href="/user/profile">
                <img src="{{ url_for('static', filename='images/ninja-logo.png') }}" alt="" style="width: 16px; height: 16px; margin-right: 8px;"> {{ _('Mon Profil') }}
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="/user/settings">
                <img src="{{ url_for('static', filename='images/ninja-tech.png') }}" alt="" style="width: 16px; height: 16px; margin-right: 8px;"> {{ _('Paramètres') }}
            </a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
            <a class="dropdown-item" href="/user-info">
                <img src="{{ url_for('static', filename='images/ninja-analytics.png') }}" alt="" style="width: 16px; height: 16px; margin-right: 8px;"> {{ _('Infos Compte') }}
            </a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
            <a class="dropdown-item" href="/logout">
                <img src="{{ url_for('static', filename='images/ninja-logo.png') }}" alt="" style="width: 16px; height: 16px; margin-right: 8px;"> {{ _('Déconnexion') }}
            </a>
        </li>
    </ul>
</div>
{% else %}
<li class="nav-item">
    <a class="nav-link" href="/login">
        <img src="{{ url_for('static', filename='images/ninja-logo.png') }}" alt="" style="width: 16px; height: 16px; margin-right: 8px;"> {{ _('Connexion') }}
    </a>
</li>
{% endif %}
{% endmacro %}